image:
  repository: ghcr.io/abelisboa/trisla-besu
  tag: v3.7.11
  pullPolicy: IfNotPresent

persistence:
  enabled: true
  size: 2Gi

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

service:
  rpcPort: 8545
  wsPort: 8546
  p2pPort: 30303
