# BC-NSSMF Requirements

fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0

# Blockchain
web3>=6.0.0
py-solc-x>=1.1.1

# Kafka
kafka-python==2.0.2

# OpenTelemetry
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-instrumentation-fastapi>=0.44b0
opentelemetry-exporter-otlp-proto-grpc>=1.24.0
opentelemetry-instrumentation-requests>=0.44b0
opentelemetry-propagator-b3>=1.24.0
# opentelemetry-propagator-tracecontext está incluído no opentelemetry-api

# Métricas Prometheus
prometheus_client>=0.20.0

python-dateutil==2.8.2
requests==2.31.0

