{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "trisla-portal.fullname" . }}-backend
  labels:
    {{- include "trisla-portal.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "trisla-portal.selectorLabels" . | nindent 6 }}
      component: backend
  endpoints:
  - port: http
    path: /metrics
    interval: {{ .Values.serviceMonitor.interval }}
    scrapeTimeout: {{ .Values.serviceMonitor.scrapeTimeout }}
{{- end }}







