apiVersion: apps/v1
kind: Deployment
metadata:
  name: trisla-portal-frontend
  namespace: {{ .Values.global.namespace | default "trisla" }}
  labels:
    app: trisla-portal-frontend
    component: frontend
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: trisla-portal-frontend
  template:
    metadata:
      labels:
        app: trisla-portal-frontend
        component: frontend
    spec:
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        env:
        - name: BACKEND_URL
          value: {{ .Values.frontend.env.BACKEND_URL | quote }}
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 20
          periodSeconds: 15
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 20
          periodSeconds: 15
          failureThreshold: 5
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"

